* {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 82px;
    height: 113px;
    background: #FFFFFF;
    border: 1px solid #74CB48;
    border-radius: 8px;
}

.card header {
    width: 80px;
    height: 12px;   
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    display: block;
    color: #74CB48;
    flex: none;
    order: 0;
    flex-grow: 1;
    text-align: right;
    padding: 0px 8px 0px 8px;
}

.card header > h2 {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #74CB48;
}

.card > img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80px;
    height: 72px;
}

.card footer {
    padding: 4px 8px 4px 8px;
    height: 24px;
    background: #74CB48;
    align-self: stretch;
    border-radius: 0 0 6px 6px;
}

.card footer > span {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    display: block;
    text-align: center;
    color: #FFFFFF;
}
